.post-container-header {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(100,100,0,.8);
}

.post-container-header>img{
    width:30px;
    margin:10px;
}

.post-container-header>p{
    font-size: 30px;
}

.post-container-header>hr{
    background-color: black;
    height:.25;
    width:20%;
}